<footer class="footer">
    <div class="footer-outer-container">
        <div class="footer-follow">
            <h4>Follow Us</h4>
            <p>Stay connected anywhere you go.</p>
            <a href="https://facebook.com"><img src="images/icons8-facebook-48.png"></a>
            <a href="https://twitter.com"><img src="images/icons8-twitter-48.png"></a>
            <a href="https://instagram.com"><img src="images/icons8-instagram-48.png"></a>
            <a href="https://pinterest.com"><img src="images/icons8-pinterest-48.png"></a>
        </div>
        <div class="footer-contact">
            <h4>Contact</h4>
            <div class="inner-contact">
                <div class="footer-contact-item">
                    <h5>Human Resources</h5>
                    <p>T: 514.123.9999</p>
                    <a href="https://mailto:hrs@friendfinder.com"><p>hrs@friendfinder.com</p></a>
                </div>
                <div class="footer-contact-item">
                    <h5>Tech Support</h5>
                    <p>T: 514.456.9999</p>
                    <a href="https://mailto:tcsp@friendfinder.com"><p>tcsp@friendfinder.com</p></a>
                </div>
            </div>
        </div>
        <div class="footer-address">
            <h4>Address</h4>
            <div class="inner-address">
                <div>
                    <a href="https://www.google.ca/maps/place/John+Abbott+College/@45.4064041,-73.9417282,15z/data=!4m5!3m4!1s0x0:0xd807d74a59dcffcf!8m2!3d45.4064041!4d-73.9417282"><img src="images/icons8-google-maps-48.png"></a>
                </div>
                <div>
                    <p>P-322 John Abbott College</p>
                    <p>Sainte-Anne-de-Bellevue, QC</p>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright">© Friend Finder 2022</p>
    <style>
        .footer {
            overflow: auto;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            bottom: 0;
            width: 100%;
            background-color: #353636;
            padding: 15px;
            color: #ffffff;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .footer h4 {
            font-weight: bold;
        }
        
        .footer-outer-container {
            display: flex;
            justify-content: space-evenly;
        }

        .footer-links button {
            background-color: #437fc7;
        }

        .footer-contact-item a {
            text-decoration: none;
            color: #ffffff;
        }

        .inner-contact {
            display: flex;
            gap: 5%;
        }

        .inner-address {
            display: flex;
        }

        .copyright {
            text-align: center;
            font-size:small;
            font-weight: bold;
        }

        @media screen and (max-width: 600px) {
        .footer-outer-container {
            display: block;
        }

        .footer-follow, .footer-contact, .footer-address, .inner-contact, .inner-address {
            text-align: center;
        }

        .footer-address {
            display: block;
        }

        .inner-contact {
            display: block;
        }

        .inner-address {
            display: block;
        }
}
    </style>
</footer>