<body>
   <div class="content">
      <div class="px-4 py-5 my-5 text-center">
         <h1 class="display-5 fw-bold">About Us</h1>
         <div class="col-lg-6 mx-auto">
            <img src="/images/teamwork.png" style="height:20%;width:20%;margin:2em;">
            <h3>Motivation</h3>
            <p class="lead mb-4">“No sorry I have a driving lesson at 4”
              <br>
              “Can we move it to Friday? I have an appointment”
              <br>
              “Just go without me. My schedule is too complicated to work with”.
              <br>
              <br>
              How many times have you heard one of these sentences or a variant of them? We've all struggled with the coordinating schedules.
              Whether it is for work, for school or for leisure, we've all had to deal with coordinating schedules at some point in our lives. The traditional process of finding a common meeting time is long and inefficient: a leader suggests a location, date, and time, the rest of the group checks their schedule and gives their feedback, if anyone is not available, you restart the process. The bigger the group, the worse it gets. This is the real life equivalent of bogosort. The O(n^2) will often be enough to make people give up on their activity in frustration. Sometimes schedules are simply not compatible.
              <br>
              <br>
              This is where FriendFinder.com comes in, to simplify the process of gathering people with common interests and availability. Through an interactive website, users will be able to create an account, see a list of activities they might be interested in or create one if none please them. They will be able to select an activity to see the details and those who already signed up for it. This tool will help simplify meetings whether that is to gather around a supper, get a project done, watch a movie or launch a D&D session. With this project, The Useful Unit aims to give people an opportunity to bond over something they love, celebrate good times, provide support during bad times, build social connection and develop a sense of belonging.
            </p>
            <h3>About the Team</h3>
            <p class="lead mb-4">We are a hardworking group of four students that study at John Abbott College and greatly enjoys coding and working on websites.</p>
            <h2 class="lead mb-4">- The Useful Unit</h2>

            <h4>Team Members:</h4>
            <p>Abdessalam Aithaqi</p>
            <p>Matthew Bustamante</p>
            <p>Benjamin Morelli-Kirshner</p>
            <p>Joshua Ostromogilski</p>
            <br>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
               <a role="button" class="btn btn-primary btn-lg px-4 gap-3" href="/home">Learn More</a>
            </div>
         </div>
      </div>
      </div>
</body>

<script>
document.title = 'About - Friend Finder';

  {{#if isDarkMode}}
    var element = document.body; element.classList.toggle("dark-mode");
  {{/if}}
</script>
<style>
  body { 
    background-color: white; 
    color: black;
  } 

  .dark-mode { 
    background-color: black; 
    color: white; 
  }

   .dark-mode form{
    color:black;
  }
</style>
