<body>
   <div class="content">
      <div class="px-4 py-5 my-5 text-center">
         <h1 class="display-5 fw-bold">About Us</h1>
         <div class="col-lg-6 mx-auto">
            <img src="/images/teamwork.png" style="height:20%;width:20%;margin:2em;">
            <p class="lead mb-4">We are a hardworking group of four students that study at John Abbott College and greatly enjoy coding and working on websites.</p>
            <h2 class="lead mb-4">- The Useful Unit</h2>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
               <a role="button" class="btn btn-primary btn-lg px-4 gap-3" href="/home">Learn More</a>
            </div>
         </div>
   </div>
   </div>
</body>
<script>
  {{#if isDarkMode}}
    var element = document.body; element.classList.toggle("dark-mode");
  {{/if}}
</script>
<style>
  body { 
    background-color: white; 
    color: black;
  } 

  .dark-mode { 
    background-color: black; 
    color: white; 
  }
</style>