<body>
  <div class="content">
    <div class="col-md-10 mx-auto col-lg-3">
      <div class="imgContainer">
        <img src="/images/edit.png" style="height:30%;width:30%;">
      </div>
      <br>
      <h3 style="text-align:center;">Edit Account Settings</h3>
      <form class="p-4 p-md-5 border rounded-3 bg-light" action="/user/{{userInfo.userID}}?_method=PUT" method="POST">
      <input type="hidden" name="_method" value="PUT">
        <div class="form-floating mb-3">
          <input type="text" required minlength="6" maxlength="30" class="form-control" id="floatingInput" name="username" placeholder="username1234"/>
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" required class="form-control" id="floatingInput" name="email" placeholder="name@example.com"/>
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" required minlength="8" maxlength="128" class="form-control" id="floatingPassword" name="newPassword" placeholder="Password"/>
          <label for="floatingPassword">New Password</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" required minlength="8" maxlength="128" class="form-control" id="floatingPassword" name="newPasswordRepeat" placeholder="Password"/>
          <label for="floatingPassword">Re-Enter New Password</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" required minlength="8" maxlength="128" class="form-control" id="floatingPassword" name="oldPassword" placeholder="oldPassword"/>
          <label for="floatingPassword">Old Password</label>
        </div>
        <button role="button" class="w-100 btn btn-lg btn-primary" id="modifyAccount" title="Modify account settings." type="submit" formaction="/user/{{userInfo.userID}}?_method=PUT" formmethod="POST">Save</button>
      </form>
      <div class="cancelButtonContainer">
        <a role="button" class="btn btn-primary btn-lg px-4 gap-3" href="/user">Cancel</a>
      </div>
      <br>
      <br>
    </div>
  </div>
  <style>
    .imgContainer {
      display: flex;
      justify-content: center;
    }

    .cancelButtonContainer {
      display: flex;
      justify-content: center;
    }
  </style>
</body>