<body>
  <div class="content">
    <div class="col-md-10 mx-auto col-lg-3">
      <form class="p-4 p-md-5 border rounded-3 bg-light">
        <div class="form-floating mb-3">
          <input
            type="text"
            required
            minlength="6"
            maxlength="30"
            class="form-control"
            id="floatingInput"
            name="username"
            placeholder="username1234"
          />
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="email"
            required
            class="form-control"
            id="floatingInput"
            name="email"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            required
            minlength="8"
            maxlength="128"
            class="form-control"
            id="floatingPassword"
            name="password"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            required
            minlength="8"
            maxlength="128"
            class="form-control"
            id="floatingPassword"
            name="password2"
            placeholder="Password"
          />
          <label for="floatingPassword">Re-Enter Password</label>
        </div>
        <button
          class="w-100 btn btn-lg btn-primary"
          id="signup"
          title="Click to create a user profile."
          type="submit"
          formmethod="POST"
          formaction="/register"
        >Sign Up</button>
        <hr class="my-4" />
        <small class="text-muted">By clicking Sign Up, you agree to use cookies
          on our site.</small>
        <br /><br />
        <small class="text-muted">Already have an account?
          <a href="/login">Log in.</a></small>
      </form>
    </div>
  </div>
</body>

<style>
  form {
    min-width: 400px;
  }
</style>

<script>
  document.title = 'Register - Friend Finder';
</script>