html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    margin-top: 10rem;
}

#description {
    resize: vertical;
    min-height: 110px;
    max-height: 200px;
    margin-top: 2rem;
}

#endlabel {
    margin-top: 1rem;
}

#datepicker {
    margin-top: 0.5rem;
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}